{% for banner in site.banner %}
<div class="banner">
    {% if banner.right %}
        <div class="banner_text">
            <h2 class="title">{{ banner.title }}</h2>
            <p class="info">{{ banner.info }}</p>
            <a href="wwd/">
                <button type="button" class="btn">Learn More</button>
            </a>
        </div>
        <img class="banner_pic" src="{{ banner.right | relative_url }}" alt="Side image">
    {% elsif banner.left %}
        <img class="banner_pic" src="{{ banner.left | relative_url }}" alt="Side image">
        <div class="banner_text">
            <h2 class="title">{{ banner.title }}</h2>
            <p class="info">{{ banner.info }}</p>
            <a href="wwa/">
                <button type="button" class="btn">Learn More</button>
            </a>        
        </div>
    {% else %}
        <div class="banner_hero" style="background-image: url('{{ banner.background | relative_url }}');"></div>
        <div class="hero_text">
            <h2 class="title">{{ banner.title }}</h2>
            <p class="info">{{ banner.info }}</p>
            <button type="button" class="btn">Learn More</button>
        </div>
    {% endif %}
</div>
{% endfor %}
<div>