<div class="homeTile">
    {% if homeTile.background %}
        <a href="wwd/">
            <img class="tile-img-top" src="{{ homeTile.background | relative_url }}" alt="Background image">
        </a>
        <div class="tile-body position-relative">
            <h2 class="tile-title">
                {{ homeTile.title }}
            </h2>
            <div class="tile-text">
                <p>{{ homeTile.info | markdownify | strip_html }}</p>
            </div>
        </div>
    {% else %}
        <div class="tile-body position-relative">
            <h2 class="tile-title-no-img">
                {{ homeTile.title }}
            </h2>
            <div class="tile-text">
                <p>{{ homeTile.info | markdownify | strip_html }}</p>
            </div>
        </div>
    {% endif %}
</div>
