{% for section in site.section %}
<div class="section">
   
    {% if section.right %}
        <div class="section_text">
            <h2 class="title">{{ section.title }}</h2>
            <p class="info">{{ section.info }}</p>
        </div>
        <img class="section_pic" src="{{ section.right | relative_url }}" alt="Side image">
    {% else if section.left %}
        <img class="section_pic" src="{{ section.left | relative_url }}" alt="Side image">
        <div class="section_text">
            <h2 class="title">{{ section.title }}</h2>
            <p class="info">{{ section.info }}</p>
        </div>
    {% endif %}
</div>
{% endfor %}