// Custom styling
// 
// Include the file _sass/_custom.scss to your site to add custom styling

.banner{
    font-family: $font-family-base;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;   
}

.banner_hero{
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.banner_text{
    width: 45%;
    margin-top: 3rem;
}
.banner .title{
    color: #2B3F72;
    font-size: 3rem;
    font-weight: 600;
}

.banner .info{
    color: #2B3F72;
    font-size: 1.5rem;
}
